* { margin: 0; padding: 0; outline: 0; border: 0; -webkit-box-sizing: border-box } /* we'll add outlines on a case by case basis */
ul { list-style-type: none }

/* animations */
@-webkit-keyframes slideOutToLeft {
  0% {
    -webkit-transform: translateX(0%);
    opacity: 1;
    -moz-opacity: 1;
    filter:alpha(opacity=1);
  }
  100% {
    -webkit-transform: translateX(-100%);
    opacity: 0;
    -moz-opacity: 0;
    filter:alpha(opacity=0);
  }
}
@-webkit-keyframes slideInFromRight {
  0% {
    -webkit-transform: translateX(100%);
    opacity: 0;
    -moz-opacity: 0;
    filter:alpha(opacity=0);
  }
  100% {
    -webkit-transform: translateX(0%);
    opacity: 1;
    -moz-opacity: 1;
    filter:alpha(opacity=1);
  }
}

@-webkit-keyframes slideOutToRight {
  0% {
    -webkit-transform: translateX(0%);
    opacity: 1;
    -moz-opacity: 1;
    filter:alpha(opacity=1);
  }
  100% {
    -webkit-transform: translateX(100%);
    opacity: 0;
    -moz-opacity: 0;
    filter:alpha(opacity=0);
  }
}
@-webkit-keyframes slideInFromLeft {
  0% {
    -webkit-transform: translateX(-100%);
    opacity: 0;
    -moz-opacity: 0;
    filter:alpha(opacity=0);
  }
  100% {
    -webkit-transform: translateX(0%);
    opacity: 1;
    -moz-opacity: 1;
    filter:alpha(opacity=1);
  }
}

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
    -moz-opacity: 1;
    filter:alpha(opacity=1);
  }
  100% {
    opacity: 0;
    -moz-opacity: 0;
    filter:alpha(opacity=0);
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
    -moz-opacity: 0;
    filter:alpha(opacity=0);
  }
  100% {
    opacity: 1;
    -moz-opacity: 1;
    filter:alpha(opacity=1);
  }
}


body {
  position: absolute;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  -webkit-perspective: 800;
  -webkit-transform:translate3d(0,0,0);
  -webkit-backface-visibility: hidden;
  -webkit-text-size-adjust: none;
  -webkit-transform-style: preserve-3d;
  -webkit-user-select: none;
  font-family: 'PT Sans Narrow', sans-serif;
}

body a {
  cursor: pointer;
}

body section {
  position: absolute;
  left: 0;
  width: 100%;
  display: block;
  pointer-events: none;
  -webkit-perspective: 800;
  -webkit-transform: translateX(-100%);
}

body section.active {
  
  display: block;
  -webkit-transform: translateX(0%);
  /*-webkit-animation: slideInFromRight 0.5s ease-in-out;*/
  opacity: 1;
  pointer-events: auto;
}

/* use these classes instead for controlling CSS sliding animation */
body section.slideOutToLeft {
  -webkit-transform: translateX(-100%);
  -webkit-animation: slideOutToLeft 0.5s ease-in-out;
  pointer-events: auto;
}
body section.slideOutToRight {
  -webkit-transform: translateX(-100%);
  -webkit-animation: slideOutToRight 0.5s ease-in-out;
  pointer-events: auto;
}
body section.slideInFromLeft {
  opacity: 1;
  -webkit-transform: translateX(0%);
  -webkit-animation: slideInFromLeft 0.5s ease-in-out;
  pointer-events: auto;
}
body section.slideInFromRight {
  opacity: 1;
  -webkit-transform: translateX(0%);
  -webkit-animation: slideInFromRight 0.5s ease-in-out;
  pointer-events: auto;
}

/* for changing section ie from timesheets to offices */
body section.fadeOut {
  opacity: 0;
  -moz-opacity: 0;
  filter:alpha(opacity=0);
  -webkit-animation: fadeOut 0.5s ease-in-out;
}
body section.fadeIn {
  opacity: 1;
  -moz-opacity: 1;
  filter:alpha(opacity=1);
  -webkit-animation: fadeIn 0.5s ease-in-out;
}

header {
    background: #000;
    color: #fff;
}

footer {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    background: #000;
    color: #fff;
}

.hours-under {color: red;}
.hours-over {color: green;}

/* header */
header {
  overflow: hidden;
}
header h1.centre {
  text-align:center;
}
header h1.right {float: right;}
header h1.left {float: left;}
header {
  position: relative;
}
header .button {
  display: block;
  position: absolute;
  top: 5px;
  left: 5px;
  padding: 5px;
  background: #444;
}
header .edit {
  left: 5px;
}
header .right {
  right: 5px;
  left: auto;
}

/* footer */
footer ul li {
  float: left;
  margin: 5px;
}
footer ul li a,
footer ul li a.active {
  float: left;
  padding: 5px;
}
footer ul li a.active {
  background: #444;
}