/* footer */
footer {
	position: absolute;
	width: 100%;
	left: 0;
	bottom: 0;
	background: #000;
	color: #fff;
}

footer ul li {
	float: left;
	margin: 3px 2px;
}

footer ul li a,
footer ul li a.active {
	float: left;
	padding: 5px;
}

/*
footer ul li a.active {
 	background: #444;
}
*/