body {
	overflow-y: hidden;
}

section {
	display: block;
	position: fixed;
	top: 45px;
	bottom: 50px;
	overflow-y: auto;
}


/*
blurry text at the moment....
tips here:
https://groups.google.com/forum/#!topic/iscroll/DuZ5I-77fxo
*/

.scrollable {
	display: block;
	height: 100%;
	-webkit-perspective: 1000;
	-webkit-backface-visibility: hidden;
}

section .scrollable,
section .scrollable * {
	-webkit-transform: perspective(1000);
	-webkit-transform: translate3d(0,0,0);
}