<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en"> <!--<![endif]-->
<head>
	<meta charset="utf-8" />

	<!-- Set the viewport width to device width for mobile -->
	<meta name="viewport" content="width=device-width" />

	<title>Tim Berman - Frontend Developer</title>
  	
  	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0"/> 
	<link rel="apple-touch-icon" href="favicon-114.png" />
	<meta name="apple-mobile-web-app-capable" content="yes" /><!-- hide top bar in mobile safari -->
	<!-- <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />translucent top bar "black-translucent -->

	<!-- Included CSS Files -->
	<link rel="stylesheet" href="/stylesheets/foundation.css">
	<link rel="stylesheet" href="/stylesheets/app.css">
	<link rel="stylesheet" href="/stylesheets/ios.css">

	<!--[if lt IE 9]>
		<link rel="stylesheet" href="/stylesheets/ie.css">
	<![endif]-->


	<!-- IE Fix for HTML5 Tags -->
	<!--[if lt IE 9]>
		<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->

</head>
<body>

	<div id="wrap">
	
		<div id="sidebar">

			<div class="header">
				<p class="title"></p>
			</div><!--header-->
			
			<div class="content">
				
				<ul class="nav">
					<li><a href="/index.html"><span class="ico msg"></span>Home</a></li>
					<li><a href="/about.html"><span class="ico msg"></span>About</a></li>
					<li><a href="/posts.html"><span class="ico msg"></span>Posts</a></li>
				</ul>
				
			</div><!--content-->

		</div><!--sidebar-->
	
		<div id="main">
			
			{{ content }}

		</div><!--main-->

	</div><!--wrap-->


	<!-- Included JS Files -->
	<script src="/javascripts/foundation.js"></script>
	<script src="/javascripts/app.js"></script>

</body>
</html>
